name: Javascript CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['dev', 'main']

env:
  CARGO_TERM_COLOR: always

jobs:
  webapp_build:
    name: Check web app build
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [16.x]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Run lib-wasm build
        working-directory: ./packages/lib-wasm
        run: wasm-pack build --release --target web --out-dir ${{ github.workspace }}/target/wasm

      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install

      - name: Run lint
        run: yarn lint

      - name: Build web app
        run: yarn build

      - name: Check for uncommitted changes
        run: git diff-index --quiet HEAD --
